## Last changed: 2023-01-11 - turn on FTP
delete: apply-groups GENMO_NETMOD;
groups {
    TEMP {                                                                          
        system {                                                                    
            login {                                                                 
                class super-user-local {                                            
                    permissions all;                                                
                }                                                                   
            }                                                                       
            services {                                                              
                ftp;                                                                
            }                                                                       
        }                                                                           
    }                                   
}
apply-groups TEMP;
